<div>
<app-post-casestudy></app-post-casestudy>
</div>

<!--<div>
  <pipe-com></pipe-com>
<if-com></if-com>
<for-com></for-com>
<array-com></array-com>
<login-com></login-com>
  <my-own-com></my-own-com>
<h1 [color]="'red'" >My color</h1>
<h4 [color]="'yellow'">Next color</h4>
 <app-Task-details></app-Task-details>
  <app-employee-details></app-employee-details>
  <template-form></template-form>
  <validate></validate>
  <app-post-example></app-post-example>
  <div>
 <emp-com></emp-com>
  
</div>
  <router-outlet></router-outlet>
</div>-->



